.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Schibsted Grotesk;
}
.display-1 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 6.875rem;
  line-height: 1;
  letter-spacing: -0.34rem;
}
.display-1 > .mbr-iconfont {
  font-size: 8.59375rem;
}
.display-2 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: -0.2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 1.25;
  letter-spacing: -0.0125rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: -0.0625rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.8125rem;
}
.display-7 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: -0.03rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8125rem;
    font-size: calc( 3.05625rem + (6.875 - 3.05625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.05625rem + (6.875 - 3.05625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #141414 !important;
}
.bg-success {
  background-color: #7f89e9 !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #fb5193 !important;
}
.bg-danger {
  background-color: #f62b7a !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #141414 !important;
  border-color: #141414 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #2e2e2e !important;
  border-color: #2e2e2e !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2e2e2e !important;
  border-color: #2e2e2e !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fb8fc9 !important;
  border-color: #fb8fc9 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #fdc0e1 !important;
  border-color: #fdc0e1 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #fdc0e1 !important;
  border-color: #fdc0e1 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success,
.btn-success:active {
  background-color: #7f89e9 !important;
  border-color: #7f89e9 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #abb1f0 !important;
  border-color: #abb1f0 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #abb1f0 !important;
  border-color: #abb1f0 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #fb5193 !important;
  border-color: #fb5193 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #fc83b2 !important;
  border-color: #fc83b2 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #fc83b2 !important;
  border-color: #fc83b2 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f62b7a !important;
  border-color: #f62b7a !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #f85c99 !important;
  border-color: #f85c99 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #f85c99 !important;
  border-color: #f85c99 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #141414;
  color: #141414;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #141414 !important;
  border-color: #141414 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #fb8fc9;
  color: #fb8fc9;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #f83ba1 !important;
  background-color: transparent !important;
  border-color: #f83ba1 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fb8fc9 !important;
  border-color: #fb8fc9 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #7f89e9;
  color: #7f89e9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3545dc !important;
  background-color: transparent !important;
  border-color: #3545dc !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #7f89e9 !important;
  border-color: #7f89e9 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #fb5193;
  color: #fb5193;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #f00660 !important;
  background-color: transparent !important;
  border-color: #f00660 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #fb5193 !important;
  border-color: #fb5193 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #f62b7a;
  color: #f62b7a;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #c20851 !important;
  background-color: transparent !important;
  border-color: #c20851 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f62b7a !important;
  border-color: #f62b7a !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #141414 !important;
}
.text-secondary {
  color: #fb8fc9 !important;
}
.text-success {
  color: #7f89e9 !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #fb5193 !important;
}
.text-danger {
  color: #f62b7a !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #f72d9a !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #2839da !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #e1055a !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #b3084a !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #141414;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #fb5193;
}
.alert-danger {
  background-color: #f62b7a;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #141414;
  border-color: #141414;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #141414;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c6c6c6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #feeff5;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: -0.03rem;
  font-weight: 400;
  border-radius: 100px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.5625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #141414 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: -0.03rem;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5625rem;
}
blockquote {
  border-color: #141414;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #141414;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #141414;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #141414;
  border-bottom-color: #141414;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #141414 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fb8fc9 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23141414' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  position: relative;
  padding: 8px 24px;
  border-radius: 10vmax !important;
  transition: all 0.5s ease-in-out;
  font-weight: 400 !important;
  overflow: hidden;
  border-width: 1px !important;
}
.mbr-section-btn .btn::before,
.mbr-section-btn-main .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient(90deg, transparent 0%, transparent 100%);
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  box-shadow: inset 250px 10px 5px transparent !important;
}
.mbr-section-btn .btn:hover::before,
.mbr-section-btn-main .btn:hover::before,
.mbr-section-btn .btn:focus::before,
.mbr-section-btn-main .btn:focus::before {
  width: 14%;
}
.cid-tVQT2zs9yA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-image: url("../../../assets/images/background2.webp");
}
.cid-tVQT2zs9yA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVQT2zs9yA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tVQT2zs9yA .container {
    padding: 0 24px;
  }
}
.cid-tVQT2zs9yA .row {
  justify-content: space-between;
}
.cid-tVQT2zs9yA .title-wrapper .title-wrap .mbr-section-title {
  display: inline-flex;
  width: 60%;
  margin-bottom: 32px;
}
@media (max-width: 1200px) {
  .cid-tVQT2zs9yA .title-wrapper .title-wrap .mbr-section-title {
    width: 100%;
  }
}
.cid-tVQT2zs9yA .items-wrapper {
  min-height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-tVQT2zs9yA .items-wrapper {
    min-height: auto;
  }
}
.cid-tVQT2zs9yA .items-wrapper .item .item-wrapper .card-box .card-text {
  margin-bottom: 32px;
}
.cid-tVQT2zs9yA .mbr-section-title,
.cid-tVQT2zs9yA .title-wrapper {
  color: #141414;
  text-align: center;
}
.cid-tVQT2zs9yA .card-text {
  color: #141414;
  text-align: center;
}
.cid-tVQT9OWWn9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-tVQT9OWWn9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVQT9OWWn9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tVQT9OWWn9 .container {
    padding: 0 24px;
  }
}
.cid-tVQT9OWWn9 .row {
  justify-content: space-between;
}
.cid-tVQT9OWWn9 .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tVQT9OWWn9 .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-tVQT9OWWn9 .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 130px;
  padding-left: 48px;
}
@media (max-width: 992px) {
  .cid-tVQT9OWWn9 .content-wrapper {
    margin-top: 0;
    padding: 0;
  }
}
.cid-tVQT9OWWn9 .content-wrapper .image-wrapper {
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .cid-tVQT9OWWn9 .content-wrapper .image-wrapper {
    margin-bottom: 24px;
  }
}
.cid-tVQT9OWWn9 .content-wrapper .image-wrapper img {
  display: inline-flex;
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: .75rem !important;
}
@media (max-width: 768px) {
  .cid-tVQT9OWWn9 .content-wrapper .image-wrapper img {
    width: 240px;
    height: 240px;
  }
}
.cid-tVQT9OWWn9 .content-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tVQT9OWWn9 .mbr-section-title {
  color: #141414;
}
.cid-tVQT9OWWn9 .mbr-text {
  color: #141414;
}
.cid-tVQTd6h3XK {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .cid-tVQTd6h3XK .container {
    padding: 0 24px;
  }
}
.cid-tVQTd6h3XK .row {
  justify-content: center;
}
.cid-tVQTd6h3XK .row .card {
  border-radius: 0 !important;
  align-items: center;
}
.cid-tVQTd6h3XK .title-wrapper .mbr-section-title {
  margin-bottom: 130px;
}
@media (max-width: 992px) {
  .cid-tVQTd6h3XK .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-tVQTd6h3XK .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .cid-tVQTd6h3XK .embla__slide {
    min-width: 100%;
    max-width: 100%;
  }
}
.cid-tVQTd6h3XK .embla__slide .slide-content {
  width: 100%;
}
.cid-tVQTd6h3XK .embla__slide .slide-content .item-wrapper .item-img {
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .cid-tVQTd6h3XK .embla__slide .slide-content .item-wrapper .item-img {
    margin-bottom: 32px;
  }
}
.cid-tVQTd6h3XK .embla__slide .slide-content .item-wrapper .item-img img {
  height: 350px;
  object-fit: cover;
  border-radius: .75rem !important;
}
.cid-tVQTd6h3XK .embla__slide .slide-content .item-content {
  position: relative;
  z-index: 1;
}
.cid-tVQTd6h3XK .embla__slide .slide-content .item-content .item-title {
  margin-bottom: 24px;
}
.cid-tVQTd6h3XK .embla__slide .slide-content .item-content .item-text {
  margin-bottom: 0;
}
.cid-tVQTd6h3XK .embla__button--next,
.cid-tVQTd6h3XK .embla__button--prev {
  display: flex;
}
.cid-tVQTd6h3XK .embla__button {
  bottom: 0;
  width: 80px;
  height: 30px;
  margin-top: -1.5rem;
  font-size: 18px;
  background-color: #141414 !important;
  color: #ffffff !important;
  border: 1px solid #141414 !important;
  border-radius: 10vmax;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  opacity: 1 !important;
  overflow: hidden;
}
.cid-tVQTd6h3XK .embla__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient(90deg, #fb8fc9 0%, transparent 100%);
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
}
.cid-tVQTd6h3XK .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tVQTd6h3XK .embla__button:hover {
  box-shadow: inset 81px 10px 5px #7f89e9;
  border-color: #7f89e9 !important;
}
.cid-tVQTd6h3XK .embla__button:hover::before {
  width: 30%;
}
.cid-tVQTd6h3XK .embla__button.embla__button--prev {
  left: 0;
}
.cid-tVQTd6h3XK .embla__button.embla__button--next {
  left: 5.5rem;
}
.cid-tVQTd6h3XK .embla {
  position: relative;
  width: 100%;
  padding-bottom: 6rem;
}
@media (max-width: 992px) {
  .cid-tVQTd6h3XK .embla {
    padding-bottom: 3rem;
  }
}
.cid-tVQTd6h3XK .embla__viewport {
  overflow: hidden;
  width: 100%;
  margin-right: 1rem;
}
.cid-tVQTd6h3XK .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tVQTd6h3XK .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tVQTd6h3XK .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tVQTd6h3XK .image-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-tVQTd6h3XK .image-wrapper {
    margin-top: 48px;
    height: auto;
  }
}
.cid-tVQTd6h3XK .image-wrapper img {
  height: 500px;
  border-radius: .75rem !important;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-tVQTd6h3XK .image-wrapper img {
    height: 400px;
  }
}
.cid-tVQTd6h3XK .mbr-section-title {
  color: #141414;
}
.cid-tVQTd6h3XK .mbr-text {
  color: #141414;
}
.cid-tVQTd6h3XK .item-title {
  color: #141414;
}
.cid-tVQTd6h3XK .item-text {
  color: #141414;
}
.cid-tVQT4gv7cT {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  position: relative;
  background-image: url("../../../assets/images/czapka-zimowa-dzianinowa-z-pomponem-i-perelkami-szara-cz35wz2-photoroom-7-800x800.webp");
}
.cid-tVQT4gv7cT::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20%;
  width: 32rem;
  height: 100%;
  background-image: radial-gradient(#8e9196 0, transparent 100%);
  border-radius: 100%;
  z-index: 1;
  filter: blur(70px);
}
.cid-tVQT4gv7cT .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVQT4gv7cT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tVQT4gv7cT .container {
    padding: 0 24px;
  }
}
.cid-tVQT4gv7cT .row {
  justify-content: center;
  position: relative;
  z-index: 1;
}
.cid-tVQT4gv7cT .title-wrapper {
  margin-bottom: 130px;
}
@media (max-width: 992px) {
  .cid-tVQT4gv7cT .title-wrapper {
    margin-bottom: 32px;
  }
}
.cid-tVQT4gv7cT .title-wrapper .mbr-desc {
  margin-bottom: 24px;
}
.cid-tVQT4gv7cT .title-wrapper .mbr-section-title {
  display: inline-flex;
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tVQT4gv7cT .title-wrapper .mbr-section-title {
    width: 100%;
  }
}
.cid-tVQT4gv7cT .items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  padding-top: 50px;
  border-top: 1px solid #141414;
}
@media (max-width: 992px) {
  .cid-tVQT4gv7cT .items-wrapper {
    display: block;
    padding: 24px;
  }
}
@media (max-width: 992px) {
  .cid-tVQT4gv7cT .items-wrapper .item {
    margin-bottom: 48px;
  }
  .cid-tVQT4gv7cT .items-wrapper .item:last-child {
    margin-bottom: 0;
  }
}
.cid-tVQT4gv7cT .items-wrapper .item .item-wrapper .card-box .card-text {
  margin-bottom: 0;
}
.cid-tVQT4gv7cT .mbr-section-title {
  color: #141414;
}
.cid-tVQT4gv7cT .mbr-desc {
  color: #55e3fd;
}
.cid-tVQT4gv7cT .card-number {
  color: #141414;
}
.cid-tVQT4gv7cT .card-title {
  color: #141414;
}
.cid-tVQT4gv7cT .card-text {
  color: #141414;
}
.cid-tVQT4gv7cT .mbr-section-title,
.cid-tVQT4gv7cT .title-wrapper {
  color: #f2fdff;
}
.cid-tVQT98AzTa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #f4f4f6;
}
.cid-tVQT98AzTa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVQT98AzTa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tVQT98AzTa .container {
    padding: 0 24px;
  }
}
.cid-tVQT98AzTa .row .card {
  padding: 0 12px;
  border-radius: 0 !important;
}
.cid-tVQT98AzTa .image-wrapper {
  height: 100%;
}
.cid-tVQT98AzTa .image-wrapper img {
  height: 100%;
  object-fit: cover;
  border-radius: .75rem !important;
}
@media (max-width: 992px) {
  .cid-tVQT98AzTa .image-wrapper img {
    height: 350px;
  }
}
.cid-tVQT98AzTa .content-wrapper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: .75rem;
  padding: 48px;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-tVQT98AzTa .content-wrapper {
    padding: 24px;
  }
}
.cid-tVQT98AzTa .content-wrapper .content-wrap {
  width: 100%;
}
.cid-tVQT98AzTa .content-wrapper .content-wrap .mbr-section-title {
  margin-bottom: 32px;
}
.cid-tVQT98AzTa .content-wrapper .content-wrap .mbr-text {
  margin-bottom: 16px;
}
.cid-tVQT98AzTa .content-wrapper .content-wrap .mbr-section-btn .btn::before {
  background-image: linear-gradient(90deg, #fb8fc9 0%, transparent 100%);
}
.cid-tVQT98AzTa .content-wrapper .content-wrap .mbr-section-btn .btn:hover,
.cid-tVQT98AzTa .content-wrapper .content-wrap .mbr-section-btn .btn:focus {
  box-shadow: inset 250px 10px 5px #7f89e9 !important;
  border-color: #7f89e9 !important;
}
.cid-tVQT98AzTa .mbr-section-title {
  color: #141414;
}
.cid-tVQT98AzTa .mbr-text {
  color: #141414;
  text-align: left;
}
.cid-tVQTcaaf6k {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #f4f4f6;
}
.cid-tVQTcaaf6k .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVQTcaaf6k .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tVQTcaaf6k .container {
    padding: 0 24px;
  }
}
.cid-tVQTcaaf6k .row {
  justify-content: center;
}
.cid-tVQTcaaf6k .title-wrapper {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-tVQTcaaf6k .title-wrapper {
    margin-bottom: 32px;
  }
}
.cid-tVQTcaaf6k .title-wrapper .mbr-section-title {
  margin-bottom: 32px;
}
.cid-tVQTcaaf6k .title-wrapper .text-wrapper .mbr-text {
  display: inline-flex;
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tVQTcaaf6k .title-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-tVQTcaaf6k .panel-group .card {
  border-radius: .75rem .75rem 0 0 !important;
  background-color: #ebc4bb;
  margin-top: -6px;
}
.cid-tVQTcaaf6k .panel-group .card:first-child {
  margin-top: 0;
}
.cid-tVQTcaaf6k .panel-group .card:nth-child(2) {
  background-color: #1e1f21;
}
.cid-tVQTcaaf6k .panel-group .card:nth-child(3) {
  background-color: #cfb293;
}
.cid-tVQTcaaf6k .panel-group .card:nth-child(4) {
  background-color: #8e9196;
}
.cid-tVQTcaaf6k .panel-group .card .card-header {
  padding: 0;
  border: none;
  background-color: transparent;
}
.cid-tVQTcaaf6k .panel-group .card .card-header .panel-title {
  width: 100%;
  padding: 32px 48px;
  display: block;
}
@media (max-width: 992px) {
  .cid-tVQTcaaf6k .panel-group .card .card-header .panel-title {
    padding: 24px;
  }
}
.cid-tVQTcaaf6k .panel-group .card .card-header .panel-title .panel-title-edit {
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}
.cid-tVQTcaaf6k .panel-group .card .panel-collapse .panel-body {
  display: flex;
  align-items: center;
  padding: 0 48px 48px;
}
@media (max-width: 992px) {
  .cid-tVQTcaaf6k .panel-group .card .panel-collapse .panel-body {
    padding: 0 24px 24px;
    display: block;
  }
}
.cid-tVQTcaaf6k .panel-group .card .panel-collapse .panel-body img {
  height: 350px;
  width: 40%;
  object-fit: cover;
  border-radius: .75rem !important;
  margin-right: 50px;
}
@media (max-width: 992px) {
  .cid-tVQTcaaf6k .panel-group .card .panel-collapse .panel-body img {
    width: 100%;
    margin-bottom: 32px;
  }
}
.cid-tVQTcaaf6k .panel-group .card .panel-collapse .panel-body .content-wrap {
  width: 40%;
}
@media (max-width: 992px) {
  .cid-tVQTcaaf6k .panel-group .card .panel-collapse .panel-body .content-wrap {
    width: 100%;
  }
}
.cid-tVQTcaaf6k .panel-group .card .panel-collapse .panel-body .content-wrap .mbr-title {
  margin-bottom: 32px;
}
.cid-tVQTcaaf6k .panel-group .card .panel-collapse .panel-body .content-wrap .panel-desc {
  margin-bottom: 30px;
}
.cid-tVQTcaaf6k .mbr-section-title {
  color: #141414;
  text-align: center;
}
.cid-tVQTcaaf6k .mbr-text,
.cid-tVQTcaaf6k .text-wrapper {
  color: #141414;
  text-align: center;
}
.cid-tVQTcaaf6k .mbr-title {
  color: #f4f4f6;
}
.cid-tVQTcaaf6k .panel-desc {
  color: #f2f2f4;
}
.cid-tVQTcaaf6k .panel-text {
  color: #f2f2f4;
}
.cid-tVQTcaaf6k .panel-title-edit {
  color: #f4f4f6;
}
.cid-tVQTdP2u5X {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .cid-tVQTdP2u5X .container {
    padding: 0 24px;
  }
}
.cid-tVQTdP2u5X .content-wrapper {
  padding-right: 64px;
}
@media (max-width: 992px) {
  .cid-tVQTdP2u5X .content-wrapper {
    margin-bottom: 32px;
    padding: 0;
  }
}
.cid-tVQTdP2u5X .content-wrapper .mbr-desc {
  margin-bottom: 24px;
}
.cid-tVQTdP2u5X .content-wrapper .mbr-section-title {
  margin-bottom: 24px;
}
.cid-tVQTdP2u5X .content-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tVQTdP2u5X .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 430px;
  max-width: 430px;
}
@media (max-width: 767px) {
  .cid-tVQTdP2u5X .embla__slide {
    min-width: 100%;
    max-width: 100%;
  }
}
.cid-tVQTdP2u5X .embla__slide .slide-content {
  width: 100%;
}
.cid-tVQTdP2u5X .embla__slide .slide-content .item-wrapper {
  height: 100%;
  border-radius: 0 !important;
}
.cid-tVQTdP2u5X .embla__slide .slide-content .item-wrapper .item-content {
  height: 100%;
}
.cid-tVQTdP2u5X .embla__slide .slide-content .item-wrapper .item-content .item-title {
  margin-bottom: 24px;
}
.cid-tVQTdP2u5X .embla__slide .slide-content .item-wrapper .item-content .item-text {
  margin-bottom: 0;
}
.cid-tVQTdP2u5X .embla__button--next,
.cid-tVQTdP2u5X .embla__button--prev {
  display: flex;
}
.cid-tVQTdP2u5X .embla__button {
  bottom: 0;
  width: 80px;
  height: 30px;
  margin-top: -1.5rem;
  font-size: 18px;
  background-color: #141414 !important;
  color: #ffffff !important;
  border: 1px solid #141414 !important;
  border-radius: 10vmax;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  opacity: 1 !important;
  overflow: hidden;
  display: none;
}
.cid-tVQTdP2u5X .embla__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient(90deg, #fb8fc9 0%, transparent 100%);
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
}
.cid-tVQTdP2u5X .embla__button:hover {
  box-shadow: inset 81px 10px 5px #7f89e9;
  border-color: #7f89e9 !important;
}
.cid-tVQTdP2u5X .embla__button:hover::before {
  width: 30%;
}
.cid-tVQTdP2u5X .embla__button.embla__button--prev {
  left: 1.5rem;
}
.cid-tVQTdP2u5X .embla__button.embla__button--next {
  left: 7.5rem;
}
.cid-tVQTdP2u5X .embla {
  position: relative;
  width: 100%;
}
.cid-tVQTdP2u5X .embla::before {
  content: '';
  position: absolute;
  top: 0;
  right: -10%;
  height: 100%;
  background-image: linear-gradient(90deg, transparent 0, #ffffff 80%);
  width: 50%;
  pointer-events: none;
  z-index: 1;
}
@media (max-width: 992px) {
  .cid-tVQTdP2u5X .embla::before {
    display: none;
  }
}
.cid-tVQTdP2u5X .embla__viewport {
  width: 100%;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-tVQTdP2u5X .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tVQTdP2u5X .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tVQTdP2u5X .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tVQTdP2u5X .mbr-desc {
  color: #13e364;
}
.cid-tVQTdP2u5X .mbr-section-title {
  color: #141414;
}
.cid-tVQTdP2u5X .mbr-text {
  color: #141414;
}
.cid-tVQTdP2u5X .item-title {
  color: #141414;
}
.cid-tVQTdP2u5X .item-text {
  color: #141414;
}
.cid-tVQTb5gsgm {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #f4f4f6;
}
.cid-tVQTb5gsgm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVQTb5gsgm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tVQTb5gsgm .container {
    padding: 0 24px;
  }
}
.cid-tVQTb5gsgm .row {
  justify-content: center;
}
.cid-tVQTb5gsgm .title-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 32px;
}
.cid-tVQTb5gsgm .title-wrapper .title-wrap {
  padding: 16px 0;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #141414;
  margin-bottom: 16px;
}
.cid-tVQTb5gsgm .title-wrapper .title-wrap .mbr-section-title {
  margin-right: 70px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .cid-tVQTb5gsgm .title-wrapper .title-wrap .mbr-section-title {
    margin-right: 20px;
  }
}
.cid-tVQTb5gsgm .title-wrapper .title-wrap .mbr-section-btn .btn {
  width: 80px;
  height: 30px;
}
.cid-tVQTb5gsgm .title-wrapper .title-wrap .mbr-section-btn .btn .mbr-iconfont {
  font-size: 18px !important;
  margin: 0;
}
.cid-tVQTb5gsgm .title-wrapper .title-wrap .mbr-section-btn .btn::before {
  background-image: linear-gradient(90deg, #fb8fc9 0%, transparent 100%);
}
.cid-tVQTb5gsgm .title-wrapper .title-wrap .mbr-section-btn .btn:hover,
.cid-tVQTb5gsgm .title-wrapper .title-wrap .mbr-section-btn .btn:focus {
  box-shadow: inset 250px 10px 5px #7f89e9 !important;
  border-color: #7f89e9 !important;
}
.cid-tVQTb5gsgm .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tVQTb5gsgm .lists-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #141414;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1200px) {
  .cid-tVQTb5gsgm .lists-wrapper {
    display: block;
  }
}
.cid-tVQTb5gsgm .lists-wrapper .list-wrap .list {
  padding: 0;
  margin-bottom: 32px;
  list-style-type: none;
}
.cid-tVQTb5gsgm .lists-wrapper .list-wrap .list .item-wrap {
  position: relative;
  margin-bottom: 16px;
}
.cid-tVQTb5gsgm .lists-wrapper .list-wrap .list .item-wrap::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(90deg, #fb8fc9 -5%, #7f89e9 95%);
  height: 1px;
  width: 0;
  transition: all 0.3s ease-in-out;
}
.cid-tVQTb5gsgm .lists-wrapper .list-wrap .list .item-wrap:hover::before,
.cid-tVQTb5gsgm .lists-wrapper .list-wrap .list .item-wrap:focus::before {
  width: 100%;
}
.cid-tVQTb5gsgm .lists-wrapper .list-wrap .list .item-wrap:last-child {
  margin-bottom: 0;
}
.cid-tVQTb5gsgm .mbr-copy {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  color: #141414;
  text-align: center;
}
.cid-tVQTb5gsgm .decor-wrapper {
  position: absolute;
  bottom: -50%;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.cid-tVQTb5gsgm .decor-wrapper .decor-wrap {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  filter: blur(80px);
}
.cid-tVQTb5gsgm .decor-wrapper .decor_1 {
  background-color: #f8e885;
}
.cid-tVQTb5gsgm .decor-wrapper .decor_2 {
  background-color: #fb8fc9;
}
.cid-tVQTb5gsgm .decor-wrapper .decor_3 {
  background-color: #7f89e9;
}
.cid-tVQTb5gsgm .decor-wrapper .decor_4 {
  background-color: #82ebff;
}
.cid-tVQTb5gsgm .mbr-section-title {
  color: #141414;
}
.cid-tVQTb5gsgm .mbr-text {
  color: #141414;
}
.cid-tVQTb5gsgm .list {
  color: #141414;
}
